.git
.github
.venv
venv
.env
.env.*
!.env.example
**/__pycache__
**/*.pyc
**/*.pyo
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/node_modules
*.sqlite3
*.db
*.log
*.zip
dialogue/models
**/.ah_import_stub
.review-venv
.tox
dist
build
*.egg-info
.DS_Store
